body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

nav {
  font-weight: bold;
  padding: 10px;
}
a {
  text-decoration: none;
  color: white;
  padding: 5px;
}
a:hover {
  color: grey;
}
nav {
  background-color: #27c7d4;
  font-size: 2vw;
}

header {
  color: white;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  font-size: 2.5vw;
}

footer {
  background-color: #ea5863;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1.5vw;
}

#logo {
  width: 150px;
  height: 50px;
  position: sticky;
  max-width: 100%;
  max-height: 100%;
}

#logo:hover {
  transform: scale(1.1);
}

/* Reservations */

.form {
  font-family: "Roboto", sans-serif;
}

fieldset {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.form-presentation {
  text-align: center;
}

input[type="submit"] {
  background-color: #27c7d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.button {
  text-align: center;
}

fieldset input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*form Comment*/

.comment{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.comment textarea{
  width: 100%;
  height: auto;
  resize: none;
}



/* Home */

hr.dotted {
  border-top: 3px dotted #bbb;
}

#section1 {
  justify-content: center;
  display: flex;
}
section p {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
}

#section2 {
  justify-content: center;
  display: flex;
}
section img {
  width: 50%;
  height: auto;
  border-radius: 3%;
}
#list_home ol {
  text-align: left;
}
#list_home ol li {
  padding: 1%;
}

/*Forms comment*/
.comment-section {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}
.comment-section h4 {
  text-align: left;
  margin: 0;
}
.comment-section p {
  margin: 5px 0;
}
.dotted-line {
  border-bottom: 1px dotted #ccc;
  margin: 5px 0;
}
/* Activities */

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;  
  
}

.activities h4{
  text-decoration: underline;
}

.activities p{
  margin-left: 22%;
  margin-right: 22%;
  text-align: justify;
}

.image-container2 {
  position: relative;
  width: 50%;
  text-align: center;
}

.image-container2 img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  font-size: x-large;
  font-family: "Roboto", sans-serif;
}

.image-container2:hover .overlay {
  opacity: 1;
}


  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2% auto;


  }

  table th,
  table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  table th {
    background-color: #27c7d4;
    color: white;
  }

  table td {
    text-align: center;
  }

/* About */

.info_sam,
.info_ivan {
  display: flex;
  padding: 2%;
}

.about {
  border: solid 2px #ccc; 
  width: 70%;
  margin: 2% auto; 
}

#samuel,
#ivan {
  width: 50px;
  height: 150px;
  border-radius: 3%;
  margin-right: 4%;
}

#samuel:hover,
#ivan:hover {
  transform: scale(1.1);
}



